<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="github" value="https://nuget.pkg.github.com/vicgital/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="vicgital" />
			<add key="ClearTextPassword" value="%GIT_PACKAGES_READ_ONLY_PAT%" />
		</github>
	</packageSourceCredentials>
	<packageSourceMapping>
		<packageSource key="github">
			<package pattern="Vicgital.*" />
		</packageSource>
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
	</packageSourceMapping>
</configuration>